<div class="container my-3">
	<div class="row justify-content-center my-5">
		<div class="award-frame mb-2">
			<%= image_tag @event.get_image(500,500) %>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="award-comment text-dark">
			<%= @event.comment %>
		</div>
	</div>

	<p class="text-center my-3">
	  <% if @event.user == current_user %>
    	<i class="fa-solid fa-baby"></i> <%= @event.character %><br>
	    <i class="fa-regular fa-calendar-days"></i> <%= @event.date.strftime("%Y/%m/%d") %><br>
	  <% end %>
	  by <%= @user.name %>
	</p>

	<% if @event.user == current_user %>
		<div class="row justify-content-center mt-5">
			<%= link_to "編集する", edit_grand_prize_event_path, class: "btn btn-outline-success mx-2" %>
			<%= link_to "削除する", grand_prize_event_path(@grand_prize, @event), method: :delete, "data-confirm" => "一覧からもマイページからも閲覧できなくなります。削除しますか？", class: "btn btn-outline-danger" %>
		</div>
	<% end %>

	<div class="row justify-content-start">
		<%= link_to "◀ 大賞へ戻る", grand_prize_path(@grand_prize), class: "btn btn-outline-dark" %>
	</div>
</div>