<div class="row d-flex justify-content-center">
  <h1>AWARD FOR YOU</h1>
</div>

<!--象徴的な写真を表示→スライドショーとかにしたい-->
<!--%= image_tag("画像ファイル名.拡張子")%>-->
<div class="row d-flex justify-content-center">
  <div><%= image_tag "top_pic.jpg", size: "300x250" %></div>
</div>

<p class="row justify-content-center text-center">
  毎日頑張るわたしに、 ぐんぐん成長するわが子に、 アワードを！
</p>

<div class="row d-flex justify-content-center mb-3">
  <div class="col-3 justify-content-end">
    <%= link_to "受賞・ノミネート方法", about_path, class: "btn btn-outline-dark mx-1" %>
  </div>
  <div class="col-3 d-flex justify-content-center">
    <%= link_to "アワード受賞", new_award_path, class: "btn btn-outline-dark mx-1" %>
  </div>
  <div class="col-3  d-flex justify-content-start">
    <%= link_to "大賞ノミネート", new_waiting_event_path, class: "btn btn-outline-dark mx-1"%>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="colspan-2 col-8">
    <h2>NEW AWARDS</h2>
    <p>新しいアワード</p>

    <div class="row d-flex justify-content-around">
      <% @awards.first(4).each do |award| %>
        <%= image_tag award.get_award_image(100,100) %>
      <% end %>
    </div>
  </div>
</div>

<div class="row d-flex justify-content-center">
  <div class="colspan-2 col-8">
    <h2>NEW GRAND PRIZE</h2>
    <p>新しい大賞</p>

    <div class="row d-flex justify-content-around mb-5">
      <% @grand_prizes.first(4).each do |grand_prize| %>
        <%= image_tag grand_prize.get_grand_prize_image(100,100) %>
      <% end %>
    </div>
  </div>
</div>
