<div class="container my-3">
	<h2><i class="fa-solid fa-trophy"></i><%= @grand_prize.name %>大賞に新規ノミネートする</h2>

	<div class='row d-flex justify-content-center'>
	  <%= render 'layouts/errors', obj: @waiting_event %>
	</div>

	<%= form_with model: [@grand_prize, @waiting_event] do |f| %>
	<div class="row d-flex justify-content-center">
	  <div class="colspan-2 col-8">
			<table class="table">
				<tr>
					<th><%= f.label :grand_prize_id, "ノミネートする大賞*" %></th>
					<td><%= f.select :grand_prize_id, options_from_collection_for_select(GrandPrize.all, :id, :name, selected: @grand_prize.id) %></td>
				</tr>
					<tr>
					<th><%= f.label :image, "大賞写真*" %></th>
					<td><%= f.file_field :image, accept: 'image/*' %></td>
				</tr>
				<tr>
					<th><%= f.label :comment, "大賞インタビュー*" %></th>
					<td><%= f.text_area :comment %></td>
				</tr>
				<tr>
					<th rowspan="2"><%= f.label :select_date, "日付" %>　<p data-toggle="modal" data-target="#exampleModalFirst"><i class="fa-solid fa-circle-question"></i></p></th>
					<td>
						<%= f.radio_button :select_date, "registration_date" %>
						<%= f.label :select_date, "登録日", value: "registration_date" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.radio_button :select_date, "selected_date" %>
						<%= f.label :select_date, "日付を指定する", value: "selected_date" %>
						<%= f.date_field :date %>
					</td>
				</tr>
				<tr>
					<th rowspan="2"><%= f.label :select_character, "家族情報" %> <p data-toggle="modal" data-target="#exampleModalSecond"><i class="fa-solid fa-circle-question"></i></p></th>
					<td>
						<%= f.radio_button :select_character, "my_self" %>
						<%= f.label :select_character, "#{current_user.name}さん", value: "my_self" %>
					</td>
				</tr>
				<tr>
				<% if current_user.children.present? %>
					<td>
						<%= f.radio_button :select_character, "children" %>
						<%= f.label :select_character, "登録家族　", value: "children" %>
						<%= f.select :child_id, options_from_collection_for_select(Child.all, :id, :name) %>
					</td>
				<% end %>
				</tr>
				<tr>
					<td colspan="2">
						*は必須項目です。
					</td>
				</tr>
				<tr>
					<td colspan="2"><%= f.submit "ノミネート", class: "btn btn-outline-dark btn-block" %></td>
				</tr>
			</table>
			<% end %>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModalFirst" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">日付情報</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	登録日と出来事があった日が異なる場合は、ぜひ出来事があった日をご登録ください。
      	詳細ページでは日にちも表示されます。<br>
      	特に、キーワードに「＃はじめて」を含む大賞は、マイページから家族ごとの「『＃はじめて』アルバム」を作成でき、日付とともに振り返ることができます。
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModalSecond" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">家族情報</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	マイページで家族情報を登録すると、大賞にノミネートする際に、家族情報を関連付けることができます。
      	特に、キーワードに「＃はじめて」を含む大賞は、マイページから家族ごとの「『＃はじめて』アルバム」を作成できますので、ぜひ家族情報をご登録ください。<br>

      	<i class="fa-solid fa-triangle-exclamation"></i>家族情報は登録した本人以外には表示されません。
      </div>
    </div>
  </div>
</div>