<div class="container my-3">
	<h2><i class="fa-solid fa-trophy"></i><%= @grand_prize.name %>大賞に新規ノミネートする</h2>

	<div class='row d-flex justify-content-center'>
	  <%= render 'layouts/errors', obj: @waiting_event %>
	</div>

	<%= form_with model: [@grand_prize, @waiting_event] do |f| %>
	<div class="row d-flex justify-content-center">
	  <div class="colspan-2 col-8">
			<table class="table">
				<tr>
					<th><%= f.label :grand_prize_id, "ノミネートする大賞*" %></th>
					<td><%= f.select :grand_prize_id, options_from_collection_for_select(GrandPrize.all, :id, :name, selected: @grand_prize.id) %></td>
				</tr>
					<tr>
					<th><%= f.label :image, "大賞写真*" %></th>
					<td><%= f.file_field :image, accept: 'image/*' %></td>
				</tr>
				<tr>
					<th><%= f.label :comment, "大賞インタビュー*" %></th>
					<td><%= f.text_area :comment %></td>
				</tr>
				<tr>
					<th rowspan="2"><%= f.label :select_date, "日付" %></th>
					<td>
						<%= f.radio_button :select_date, "registration_date" %>
						<%= f.label :select_date, "登録日" %>
					</td>
				</tr>
				<tr>
					<td>
						<%= f.radio_button :select_date, "selected_date" %>
						<%= f.label :select_date, "日付を指定する" %>
						<%= f.date_field :date %>
					</td>
				</tr>
				<tr>
					<th rowspan="2"><%= f.label :select_member, "家族情報" %></th>
					<td>
						<%= f.radio_button :select_member, "my_self" %>
						<%= f.label :select_member, "なし" %>
					</td>
				</tr>
				<tr>
				<% if current_user.children.present? %>
					<td>
						<%= f.radio_button :select_member, "children" %>
						<%= f.label :select_member, "あり" %>
						<%= f.select :child_id, options_from_collection_for_select(Child.all, :id, :name) %>
					</td>
				<% end %>
				</tr>
				<tr>
					<td colspan="2">
						*は必須項目です。
					</td>
				</tr>
				<tr>
					<td colspan="2"><%= f.submit "ノミネート", class: "btn btn-outline-dark btn-block" %></td>
				</tr>
			</table>
			<% end %>
		</div>
	</div>
</div>
