<div class="container my-3">
	<% if params[:user_id] %>
		<h2><i class="fa-solid fa-medal"></i><%= @user.name %>さんのアワード一覧</h2>
	<% elsif params[:applauses] %>
		<h2><i class="fa-solid fa-medal"></i><%= @user.name %>さんが拍手を贈ったアワード一覧</h2>
	<% else %>
		<h2><i class="fa-solid fa-medal"></i>みんなのアワード一覧</h2>
	<% end %>

	<div class="row d-flex justify-content-center my-5">
		<div class="col-4 colspan-2">
			<%= link_to "アワードを受賞する", new_award_path, class: "btn btn-outline-success btn-block" %>
		</div>
		<div class="col-4 colspan-2 d-flex justify-content-center">
			<%= form_tag(awards_path, method: :get) do %>
				<%= select_tag :sort_by, options_for_select({'新しい順'=>'latest','古い順'=>'old','拍手多い順'=>'applause_count'}, params[:sort_by]) %>
				<%= button_tag type: "submit",  class: "btn  btn-sm btn-info" do %>
					<i class="fa-solid fa-arrow-down-wide-short"></i>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="row row-cols-4 mb-3 mx-3">
		<% @awards.each do |award| %>
			<div class="col center-block">
				<div class="award-container mx-auto">
					<%= link_to award_path(award.id) do %>
						<%= image_tag award.get_award_image(200,200), class: "rounded-circle" %>
					<% end %>
				</div>
				<div class="center-block text-center mb-3" id="applause_btn_<%= award.id %>">
					<%= render "public/applauses/btn", award: award %>
				</div>
			</div>
		<% end %>
	</div>

	<div class="row d-flex justify-content-center">
		<%= paginate @awards, theme: 'bootstrap-5' %>
	</div>
</div>