<p>フラッシュメッセージでおめでとう！を表示する</p>

<% if @award.award_image.present? %>
	<%= image_tag @award.get_award_image(200,200) %>
<% end %>

<% if @award.comment.present? %>
	<%= @award.comment %>
<% end %>

<% if @award.user == current_user %>

	<!--本人以外が編集・削除できないように、idを送って本人確認を行う-->
	<%= link_to "編集する", edit_award_path %>
	<%= link_to "削除する", award_path, method: :delete %>

<% end %>

<%= link_to "◀アワード一覧へ戻る", awards_path %>
