<table class="table">
	<tbody>
		<% grand_prizes.each do |grand_prize| %>
		<tr>
			<td rowspan="2">
				<%= image_tag grand_prize.get_grand_prize_image(100,100) %>
			</td>
			<td>
				<%= grand_prize.name %>大賞
			</td>
		</tr>
		<tr>
			<td>
				<%= grand_prize.introduction %>
			</td>
		</tr>
		<tr>
			<td>
				キーワード
			</td>
			<td>
				＃<%= grand_prize.keyword_1 %>
				＃<%= grand_prize.keyword_2 %>
				＃<%= grand_prize.keyword_3 %>
			</td>
		</tr>
		<tr>
			<td>
				<%= link_to "受賞された皆さんを見る", grand_prize_path(grand_prize.id) %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>