<div class="container my-3">
	<div class="row d-flex justify-content-center">

	  <div class="col-6">
	  	<div class="gp mb-3 text-center">
				<h2 class="text-center gp-title"><span><%= @grand_prize.name %>大賞</span></h2>
				<div class="gp-frame mb-3">
					<%= image_tag @grand_prize.get_grand_prize_image(500,500) %>
				</div>
				<div class="row d-flex justify-content-center">
					<div class="gp-comment text-dark">
						<%= @grand_prize.introduction %>
					</div>
				</div>
			</div>
			<table class="table my-3">
				<tr>
					<td><%= "#"+ @grand_prize.keyword_1_i18n %></td>
					<td><%= @grand_prize.keyword_2.present? ? "#" + @grand_prize.keyword_2 : "" %></td>
					<td><%= @grand_prize.keyword_3.present? ? "#" + @grand_prize.keyword_3 : "" %></td>
				</tr>
			</table>

			<div class="mb-5">
				<%= link_to "この大賞を受賞する", new_grand_prize_waiting_event_path(grand_prize_id: @grand_prize.id), class: "btn btn-outline-dark btn-block"%>
			</div>
	  </div>
	  <div class="col-5 px-3 my-5">
				<h5 class="text-center">大賞を受賞した皆さん　<i class="fa-solid fa-user"></i> <%= @grand_prize.events.count %></h5>

			<div class="row row-cols-3 mb-3">
				<% @grand_prize.events.each do |event| %>
				<div class="col">
					<%= link_to grand_prize_event_path(event.grand_prize, event) do %>
						<%= image_tag event.get_image(120,120) %><br>
					<% end %>
					<div class="event-comment">
						<%= event.comment %>
					</div>
				</div>
				<% end %>
			</div>

			<div class="mb-3">
				<h5 class="text-center" id="comment-counter"><%= render 'public/praises/counter', grand_prize: @grand_prize %></h5>
				<div class="row d-flex justify-content-center">
					<%= render 'public/praises/form', grand_prize: @grand_prize, praise: @praise %>
				</div>
				<div id="comment-index">
					<%= render 'public/praises/index', grand_prize: @grand_prize %>
				</div>
			</div>
	  </div>
	</div>

	<% if user_signed_in? && @grand_prize.owner_id == current_user.id %>
		<h5><%= current_user.name %>さんはこの大賞の設立者です。</h5>
		<% if @grand_prize.waiting_events.present? %>
			<div class="row">
				<h5>受賞待ちが<%= @grand_prize.waiting_events.count %>件あります。大賞の授与をお願いします！</h5>
				<%= link_to "みんなに大賞を授与する", create_all_grand_prize_events_path(@grand_prize), method: :post, class: "btn btn-outline-danger" %>
			</div>

			<div class="row">
				<table class="table">
					<tbody>
						<% @grand_prize.waiting_events.each do |waiting_event| %>
						<tr>
							<td>
								<%= image_tag waiting_event.get_image(80,80) %>
							</td>
							<td>
								<%= waiting_event.comment %>
							</td>
							<td>
								<%= link_to "大賞授与", grand_prize_events_path(@grand_prize, waiting_event_id: waiting_event.id), method: :post, class: "btn btn-outline-success" %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>

		<% else %>
			<div class="row">
				<h5>受賞待ちはありません。</h5>
			</div>
		<% end %>

		<% unless @grand_prize.waiting_events.present? || @grand_prize.events.present? %>
			<%= link_to "大賞の編集・削除", edit_grand_prize_path, class: "btn btn-outline-dark mb-3" %>
		<% end %>

	<% end %>

	<div class="row justify-content-start">
		<%= link_to "◀ 一覧へ戻る", grand_prizes_path, class: "btn btn-outline-dark" %>
	</div>
</div>