<h2><%= @child.name %>のはじめてアルバム</h2>

<% @events.each do |event| %>
	<div>
		<%= event.date.strftime("%Y/%m/%d") %>
		<%= event.grand_prize.name %>
		<%= image_tag event.get_image(100,100) %>
		<%= event.comment %>
	</div>
<% end %>