<div class="container my-3">
  <h2><i class="fa-solid fa-film"></i><%= @child.name %>のはじめてアルバム</h2>

  <% @events.each do |event| %>
    <div class="row justify-content-center my-3">
      <div class="bg-gray col-6 p-2">
        <p class="text-center album-text"><%= event.date.strftime("%Y/%m/%d") %></p>
        <p class="text-center"><%= event.grand_prize.name %></p>
        <div class="album-container mx-auto">
		  <%= image_tag event.get_image(200,200), class: "rounded-circle" %>
	    </div>
	    <div class="award-comment text-dark m-3">
		  <%= event.comment %>
	    </div>
	</div>
    </div>
  <% end %>
</div>