<div class="container my-3">

	<h2><i class="fa-solid fa-trophy"></i>振り返りアルバムを作成する</h2>

	<div class='row d-flex justify-content-center'>
	  <%= render 'layouts/errors', obj: @album %>
	</div>

	<%= form_with url: make_album_albums_path, method: :get do |f| %>
		<%= f.label :child_id, "家族を選択" %>
		<%= f.select :child_id, options_from_collection_for_select(Child.all, :id, :name) %>
		<%= f.label "期間" %>
		<%= f.date_select(:start_date) %>

  	<%= f.date_select(:end_date) %>
		<%= f.submit %>
	<% end %>

</div>