<div class="container">
	<h2>キーワード一覧</h2>
	<table class="table my-5 table-bordered">
		<thead>
			<tr>
				<th class="table-dark ">
					<%= link_to "デイリー", searchs_search_by_keyword_path(keyword_1: "daily", keyword: "") %>
				</th>
			</tr>
		</thead>
		<tdody>
			<tr>
				<td>
					<% @daily_grand_prizes.each do |grand_prize| %>
						<% if grand_prize.keyword_2.present? %>
							<% grand_prize.keyword_2 %>
						<% elsif grand_prize.keyword_3.present? %>
							<% grand_prize.keyword_3 %>
						<% end %>
					<% end %>
				</td>
			</tr>
		</tdody>
	</table>

	<table class="table my-5 table-bordered">
		<thead class="table-dark">
			<tr>
				<th>
					<%= link_to "はじめて", searchs_search_by_keyword_path(keyword_1: "first_time", keyword: "") %>
				</th>
			</tr>
		</thead>
		<tdody>
			<tr>
				<td>
					<% @first_time_grand_prizes.each do |grand_prize| %>
						<% if grand_prize.keyword_2.present? && grand_prize.keyword_3.present? %>

							<%= link_to searchs_search_by_keyword_path(keyword_1: grand_prize.keyword_1, keyword: grand_prize.keyword_2) do %>
								#<%= grand_prize.keyword_2 %>
							<% end %>

							<%= link_to searchs_search_by_keyword_path(keyword_1: grand_prize.keyword_1, keyword: grand_prize.keyword_3) do %>
								#<%= grand_prize.keyword_3 %>
							<% end %>

						<% elsif grand_prize.keyword_2.present? %>

							<%= link_to searchs_search_by_keyword_path(keyword_1: grand_prize.keyword_1, keyword: grand_prize.keyword_2) do %>
								#<%= grand_prize.keyword_2 %>
							<% end %>

						<% elsif grand_prize.keyword_3.present? %>
							<%= link_to searchs_search_by_keyword_path(keyword_1: grand_prize.keyword_1, keyword: grand_prize.keyword_3) do %>
								#<%= grand_prize.keyword_3 %>
							<% end %>

						<% end %>
					<% end %>
				</td>
			</tr>
		</tdody>
	</table>
</div>