<h2>ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email, "emailアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "パスワードを記録する" %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>

登録がお済でない方は
<%= link_to "こちら", new_user_registration_path %>
から新規登録<br>

ゲストユーザーとしてのお試しは<%= link_to "こちら", users_guest_sign_in_path, method: :post %><br>

管理者※最終版の提出で削除※
<%= link_to admin_session_path do %>
  <i class="fa-solid fa-gear"></i>
<% end %>
<!--デフォルトのSignUpは退避-->
<!--%= render "public/shared/links" %>-->
