<div class="container my-3">
  <div class="row">
    <div class="mx-auto offset-lg-2 mb-3">
      <h2>ログイン</h2>
      <div class="col bg-gray">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= render "public/shared/error_messages", resource: resource %>
          <div class="field mb-2">
            <%= f.label :email, "emailアドレス" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %>
          </div>
          <div class="fieldmb-2">
            <%= f.label :password, "パスワード" %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, "パスワードを記録する" %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-outline-dark mb-3" %>
          </div>
        <% end %>
      </div>

      <div class="row my-3 px-2">
        <h7><i class="fa-solid fa-user-plus"></i>登録がお済でない方は<%= link_to "こちら", new_user_registration_path %>から新規登録</h7>
      </div>
      <div class="row mb-3 px-2">
        <h7><i class="fa-solid fa-dove"></i>ゲストユーザーとしてのお試しは<%= link_to "こちら", users_guest_sign_in_path, method: :post %>から</h7>
      </div>

      <!--最終提出時に削除-->
      管理者※最終版の提出で削除※
      <%= link_to admin_session_path do %>
        <i class="fa-solid fa-gear"></i>
      <% end %>

    </div>
  </div>
</div>
