<h3>ユーザー名を編集する</h3>

<%= form_with model: @user, url: update_information_path do |f| %>

  <%= f.label :name, "ユーザー名" %>
  <%= f.text_field :name %>

  <%= f.submit "変更", class: "btn btn-outline-success mb-3"  %>

<% end %>

<%= link_to "退会する", users_unsubscribe_path, class: "btn btn-outline-dark" %>