<h2><%= current_user.name %>さんのページ</h2>

<div class="row">
  <div class="col-4">
    <h3>基本情報</h3>
    <table class="table w-100">
      <tr>
        <th>ユーザ名</th>
        <td>
          <%= current_user.name %>
          <% unless current_user.guest_user? %>
            <%= link_to edit_information_path do %>
              <i class="fa-solid fa-gear"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
      <tr>
        <th>登録日</th>
        <td><%= current_user.created_at.strftime("%Y/%m/%d") %></td>
      </tr>
    </table>
  </div>

  <div class="col-4">
     <h3>アワード情報</h3>
       <table class="table w-100">
        <tr>
          <th>受賞数</th>
          <td>
            <!--アワード一覧＞ユーザが受賞したアワードを表示-->
            <% if current_user.awards.present? %>
              <%= link_to awards_path(user_id: current_user.id) do %>
                <%= current_user.awards.count %>件
              <% end %>
            <% else %>
              0件
            <% end %>
          </td>
        </tr>
        <tr>
          <th>送った拍手数</th>
          <td>
            <!--アワード一覧＞ユーザが拍手を送ったアワードを表示-->
            <% if current_user.applauses.present? %>
              <%= link_to awards_path(applauses: true) do %>
                <%= current_user.applauses.count %>件
              <% end %>
            <% else %>
              0件
            <% end %>
          </td>
        </tr>
      </table>
  </div>

  <div class="col-4">
    <h3>大賞受賞情報</h3>
    <table class="table w-100">
      <tr>
        <th>受賞</th>
        <td>
          <% if current_user.events.present? %>
            <%= link_to grand_prizes_path(event: true) do %>
              <%= current_user.events.count %>件
            <% end %>
          <% else %>
            0件
          <% end %>
        </td>
      </tr>
      <tr>
        <th>作った大賞</th>
        <td>
          <% if @grand_prizes.present? %>
            <%= link_to grand_prizes_path(grand_prize: true) do %>
              <%= @grand_prizes.count %>件
            <% end %>
          <% else %>
            0件
          <% end %>
        </td>
      </tr>
    </table>
    <h5>作った大賞へのノミネート状況</h5>
    <% if @grand_prizes.present? %>
      <% @grand_prizes.each do |grand_prize| %>
        <% if grand_prize.waiting_events.present? %>
          <%= grand_prize.name %>大賞<%= link_to "大賞の授与をお願いします", grand_prize_path(grand_prize.id), class: "btn btn-outline-danger" %><br>
        <% else %>
          <p>授与待ちはありません</p>
        <% end %>
      <% end %>
    <% else %>
      <p>未設立</p>
    <% end %>
  </div>
</div>