<div class="container mt-5">
  <h2><%= current_user.name %>さんのページ</h2>

  <div class="row my-5">
    <div class="col-4">
      <h4><i class="fa-solid fa-user"></i>基本情報</h4>
      <table class="table w-100">
        <tr>
          <th>ユーザ名　</th>
          <td>
            <%= current_user.name %>
            <% unless current_user.guest_user? %>
              <%= link_to "変更・退会", edit_information_path %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th>登録日</th>
          <td><%= current_user.created_at.strftime("%Y/%m/%d") %></td>
        </tr>
      </table>
    </div>

    <div class="col-4">
       <h4><i class="fa-solid fa-medal"></i>アワード情報</h4>
         <table class="table w-100">
          <tr>
            <th>受賞数</th>
            <td>
              <!--アワード一覧＞ユーザが受賞したアワードを表示-->
              <% if current_user.awards.present? %>
                <%= link_to awards_path(user_id: current_user.id) do %>
                  <%= current_user.awards.count %>件
                <% end %>
              <% else %>
                0件
              <% end %>
            </td>
          </tr>
          <tr>
            <th>贈った拍手数</th>
            <td>
              <!--アワード一覧＞ユーザが拍手を贈ったアワードを表示-->
              <% if current_user.applauses.present? %>
                <%= link_to awards_path(applauses: true) do %>
                  <%= current_user.applauses.count %>件
                <% end %>
              <% else %>
                0件
              <% end %>
            </td>
          </tr>
        </table>
    </div>

    <div class="col-4">
      <h4><i class="fa-solid fa-trophy"></i>大賞受賞情報</h4>
      <table class="table w-100">
        <tr>
          <th>受賞</th>
          <td>
            <% if current_user.events.present? %>
              <%= link_to grand_prizes_path(event: true) do %>
                <%= current_user.events.count %>件
              <% end %>
            <% else %>
              0件
            <% end %>
          </td>
        </tr>
        <tr>
          <th>作った大賞</th>
          <td>
            <% if @grand_prizes.present? %>
              <%= link_to grand_prizes_path(grand_prize: true) do %>
                <%= @grand_prizes.count %>件
              <% end %>
            <% else %>
              0件
            <% end %>
          </td>
        </tr>
      </table>

      <h4><i class="fa-solid fa-trophy"></i>作った大賞へのノミネート</h4>
      <% if @grand_prizes.present? %>

        <% if @grand_prizes.none? { |grand_prize| grand_prize.waiting_events.present? } %>
          承認待ちはありません。
        <% end %>

        <table>
          <% @grand_prizes.each do |grand_prize| %>
            <% if grand_prize.waiting_events.present? %>
            <tr>
              <td>
                <%= grand_prize.name %>大賞<%= link_to grand_prize_path(grand_prize.id), class: "btn btn-outline-danger btn-sm" do %>
                  <i class="fa-solid fa-trophy"></i>授与
                <% end %>
              </td>
            </tr>
            <% end %>
          </table>
        <% end %>

      <% else %>
        <p>未設立</p>
      <% end %>

      <h4 class="mt-3"><i class="fa-solid fa-trophy"></i>大賞へのノミネート</h4>
      <% if @user.waiting_events.present? %>
        <% @user.waiting_events.each do |waiting_event| %>
          <%= waiting_event.grand_prize.name %>大賞<%= link_to "辞退", grand_prize_waiting_event_path(waiting_event.grand_prize, waiting_event), method: :delete, class: "btn btn-outline-danger btn-sm" %><br>
        <% end %>
      <% else %>
        <p>ノミネート中の大賞はありません</p>
      <% end %>
    </div>
  </div>
</div>