<h2><%= current_user.name %>さんのページ</h2>

<div>
  <h3>基本情報</h3>

  <!--ゲストユーザーはプロフィール編集ができない-->
  <% unless current_user.guest_user? %>
    <%= link_to "編集する", edit_information_path %>
  <% end %>

  <table>
    <tr>
      <th>ユーザ名</th>
      <td><%= current_user.name %></td>
    </tr>
    <tr>
      <th>表彰する家族</th>
      <td>famiryテーブルを作ったら表示させる</td>
    </tr>
  </table>

</div>


<div>

  <h3>アワード情報</h3>

  <table>
    <tr>
      <th>受賞数</th>
      <td>
        <%= link_to awards_path(current_user) do %>
          <%= current_user.awards.count %>件
        <% end %>
      </td>
    </tr>
    <tr>
      <th>送った拍手数</th>
      <td>
        <!--引数がわからない-->
        <!--%= link_to awards_path(current_user, applause) do %>-->
          <%= current_user.applauses.count %>
        <% end %>
      </td>
    </tr>
  </table>

</div>

<div>

  <h3>大賞受賞情報</h3>

  <table>
    <tr>
      <th>受賞</th>
      <td><ログインユーザの受賞した大賞へのリンク>件</td>
    </tr>
    <tr>
      <th>作った大賞</th>
      <td><ログインユーザが作成した大賞の数>件</td>
    </tr>
    <tr>
      <th>作った大賞へのノミネート</th>
      <td>ノミネートはありませんor大賞を授与する</td>
    </tr>
  </table>

</div>