<h2>アワード一覧</h2>

<%= form_tag(admin_awards_path, method: :get) do %>
	<%= select_tag :sort_by, options_for_select({'新しい順'=>'latest','古い順'=>'old','拍手の多い順'=>'applause_count'}, params[:sort_by]) %>
	<%= submit_tag '表示する' %>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>
				アワード写真
			</th>
			<th>
				インタビューコメント
			</th>
			<th>
				拍手数
			</th>
			<th>
			</th>
		</tr>
	</thead>
	<tbody>
		<% @awards.each do |award| %>
		<tr>
			<td>
				<% if award.award_image.attached? %>
					<%= image_tag award.get_award_image(50,50) %>
				<% end %>
			</td>
			<td>
				<% unless award.comment == nil? %>
					<%= award.comment %>
				<% end %>
			</td>
			<td>
				<% unless award.applauses == nil? %>
					<%= award.applauses.count %>
				<% end %>
			</td>
			<td>
				<%= link_to "削除", admin_award_path(award.id), method: :delete, class: "btn btn-danger" %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="row d-flex justify-content-center">
	<%= paginate @awards, theme: 'bootstrap-5' %>
</div>